[client]
port=3306

[mysqld]
server-id=3
port=3306
socket=/var/run/mysqld/mysqld.sock
key_buffer_size=16M
max_allowed_packet=128M
pid-file=/var/run/mysqld/mysqld.pid
datadir=/var/lib/mysql
secure-file-priv=NULL
relay-log=/var/run/mysqld/mysql-relay-bin.log
log_bin=/var/run/mysqld/mysql-bin.log
binlog_format=ROW
binlog_do_db=mydb
